/* Importing Noto Sans JP */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500&display=swap');
body {
    background-color: #e2edee;
}
/* Main Page CSS */
.searchContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#homeSearch {
    border-style: none none solid none;
    border-color: #6F7375;
    background-color: #e2edee;
    width: 70%;
    /* CSS Transition for focus */
    transition: ease, border-color 0.4s;
    -webkit-transition: ease, border-color 0.4s;
    height: 6vh;
    font-size: 15px;
}

#homeSearch:focus {
    outline: none;
    border-color: #69B4D4;
}

h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.4em;
}

/* Nav CSS */
/* Removing underline from weblink */
.navLink:link {
    text-decoration: none;
}

/* Removiung underline from visited link */
.navLink:visited {
    text-decoration: none;
    color: white;
}

.navLink {
    color: white;
    font-size: 1.3em;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

/* Site Banner */
#imgHeadContainer {
    background-image: url('./images/sbaBanner.png');
    background-size: cover;
    height: 16vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

/* Site Banner Text */
#matchFinderText {
    font-family: arial;
    color: white;
    font-weight: 900;
    font-size: 1.7em;
    text-shadow: 1px 1px black;
}

/* Homepage Results (Hidden) */

#showNoResults {
    list-style-type: none;
    text-align: center;
    margin-right: 8%;
}

/* Homepage Results (Displayed) */

.showResults {
    margin-top: 2%;
    margin-left: 5%;
    list-style-type: none;
    margin-right: 18%;
}

.resultData {
    margin-top: 3%;
    margin-bottom: 3%;
}

/* Component css for adding videos */

#addHeader {
    text-align: center;
}

.addForm {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.addLabels {
    align-self: center;
}

.formInput {
    margin-bottom: 5%;
    margin-left: 3%;
    border-style: none none solid none;
    background-color: #E2EDEE;
    border-color: #6F7375;
    width: 80%;
    height: 3vh;
    font-size: 15px;
    /* CSS Transition for focus */
    transition: ease, border-color 0.4s;
    -webkit-transition: ease, border-color 0.4s;
}

.formInput:focus {
    outline: none;
    border-color: #69B4D4;
}

.addSelect {
    width: 40%;
    box-shadow: 1px 1px;
    color: #6F7375;
    font-weight: 600;;
    background: none;
    margin: 0 auto;
}

/* Video Container CSS */
#videoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.vidImage {
    height: 9vh;
}

#vidEventName {
    margin-left: 6%;
    margin-top: 3%;
    font-weight: bold;
}

.vidLink {
    color: #4D97E4;
}

.vidLink:visited {
    text-decoration: none;
    color: #4D97E4;
}

.vidLink:link {
    text-decoration: none;
}